Repository sripwoud/rideau: changes, and which lefthook commands are due for each by the changed paths.
All: lint-sol, typecheck-client, typecheck-server

lint-sol:
  run: bun solhint --config .solhint.json {staged_files}

typecheck-client:
  run: bun tsc-files -p tsconfig.json -p apps/client/tsconfig.json {staged_files}

typecheck-server:
  run: bun tsc-files -p tsconfig.json -p apps/server/tsconfig.json --noEmit {staged_files}

test: MultipleChoiceFeedback
  contracts/package.json
  contracts/test/MultipleChoiceFeedback.t.sol
Due: lint-sol

feat(contracts): can be terminated by an admin
  contracts/src/BaseFeedback.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
Due: lint-sol

chore: lint
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
Due: lint-sol

feat(contracts): define `{Base,YesNo,MultipleChoice}Feedback.sol` (#19)
  .github/workflows/main.yml
  bun.lockb
  contracts/.solhint.json
  contracts/foundry.toml
  contracts/package.json
  contracts/src/BaseFeedback.sol
  contracts/src/Counter.sol
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/src/YesNoFeedback.sol
  contracts/test/Counter.t.sol
  contracts/test/MockSemaphore.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
  yarn.lock
Due: lint-sol

chore: rename `FreeText{,Feedback}.t.sol``
  contracts/test/FreeTextFeedback.t.sol
Due: lint-sol

chore(contracts): deploy `YesNoFeedback` on `arbitrum-sepolia`
  apps/client/src/lib/config.ts
  contracts/README.md
  contracts/foundry.toml
  contracts/package.json
Due: typecheck-client

feat(contracts): add title
  contracts/src/BaseFeedback.sol
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/src/YesNoFeedback.sol
  contracts/test/FreeTextFeedback.t.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
Due: lint-sol

chore: lint
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/src/YesNoFeedback.sol
  contracts/test/YesNoFeedback.t.sol
Due: lint-sol

chore: deploy `YesNoFeedback` on `arbitrum-sepolia`
  apps/client/src/lib/config.ts
  contracts/README.md
  contracts/package.json
Due: typecheck-client

feat(contracts): add title (#20)
  apps/client/src/lib/config.ts
  contracts/README.md
  contracts/package.json
  contracts/src/BaseFeedback.sol
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/src/YesNoFeedback.sol
  contracts/test/FreeTextFeedback.t.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
Due: lint-sol, typecheck-client

feat: render YesNoFeedback card
  apps/client/src/components/Dashboard.tsx
  apps/client/src/components/ExternalLink.tsx
  apps/client/src/components/YesNoFeedback.tsx
  apps/client/src/lib/config.ts
  apps/client/src/lib/display.ts
Due: typecheck-client

fix: wait for signer to be connected before signing
  apps/client/src/hooks/useSemaphoreId.ts
Due: typecheck-client

chore: add gasPolicyId in config
  apps/client/src/lib/account-kit.ts
  apps/client/src/lib/config.ts
Due: typecheck-client

feat(client): join semaphore group
  apps/client/abis/YesNoFeedback.json
  apps/client/package.json
  apps/client/src/components/Dashboard.tsx
  apps/client/src/components/YesNoFeedback.tsx
  bun.lockb
  yarn.lock
Due: typecheck-client

feat: simulate vote
  apps/client/package.json
  apps/client/src/components/Dashboard.tsx
  apps/client/src/components/YesNoFeedback.tsx
  apps/client/src/hooks/useSemaphoreId.ts
  apps/client/src/lib/account-kit.ts
  apps/client/src/lib/config.ts
  apps/client/src/lib/constants.ts
  bun.lockb
  yarn.lock
Due: typecheck-client

chore: lint
  .dprint.jsonc
  apps/client/abis/YesNoFeedback.json
  contracts/test/FreeTextFeedback.t.sol
  contracts/test/MultipleChoiceFeedback.t.sol
Due: lint-sol

feat(client): join semaphore group (#21)
  .dprint.jsonc
  apps/client/abis/YesNoFeedback.json
  apps/client/package.json
  apps/client/src/components/Dashboard.tsx
  apps/client/src/components/ExternalLink.tsx
  apps/client/src/components/YesNoFeedback.tsx
  apps/client/src/hooks/useSemaphoreId.ts
  apps/client/src/lib/account-kit.ts
  apps/client/src/lib/config.ts
  apps/client/src/lib/constants.ts
  apps/client/src/lib/display.ts
  bun.lockb
  contracts/test/FreeTextFeedback.t.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  yarn.lock
Due: lint-sol, typecheck-client

feat: display logout button in nav header
  apps/client/src/components/Header.tsx
Due: typecheck-client

refactor YesNoFeedback component
  apps/client/src/components/YesNoFeedback.tsx
Due: typecheck-client

feat: set semaphoreId in local storage
  apps/client/src/app/page.tsx
  apps/client/src/hooks/useSemaphoreId.ts
  apps/client/src/lib/config.ts
Due: typecheck-client

style(client): increase size of login button
  apps/client/src/app/page.tsx
Due: typecheck-client

wip
  apps/client/src/components/YesNoFeedback.tsx
  apps/client/src/lib/semaphore-ethers.ts
Due: typecheck-client

feat(server): add bandada trpc endpoints
  .biome.jsonc
  apps/server/package.json
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.spec.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.spec.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/add-member.dto.ts
  apps/server/src/bandada/dto/create-group.dto.ts
  apps/server/src/bandada/dto/get-group.dto.ts
  apps/server/src/bandada/dto/get-groups-by-member-id.dto.ts
  apps/server/src/bandada/dto/index.ts
  apps/server/src/bandada/dto/remove-group.dto.ts
  apps/server/src/lib/config.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  tsconfig.json
  yarn.lock
Due: typecheck-server

chore: cleanup
  .biome.jsonc
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/trpc/trpc.router.ts
  apps/server/src/users/dto/create-user.dto.ts
  apps/server/src/users/entities/user.entity.ts
  apps/server/src/users/users.module.ts
  apps/server/src/users/users.router.ts
  apps/server/src/users/users.service.spec.ts
  apps/server/src/users/users.service.ts
Due: typecheck-server

feat(server): add bandada trpc endpoints (#22)
  .biome.jsonc
  apps/server/package.json
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.spec.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.spec.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/add-member.dto.ts
  apps/server/src/bandada/dto/create-group.dto.ts
  apps/server/src/bandada/dto/get-group.dto.ts
  apps/server/src/bandada/dto/get-groups-by-member-id.dto.ts
  apps/server/src/bandada/dto/index.ts
  apps/server/src/bandada/dto/remove-group.dto.ts
  apps/server/src/lib/config.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  apps/server/src/users/dto/create-user.dto.ts
  apps/server/src/users/entities/user.entity.ts
  apps/server/src/users/users.module.ts
  apps/server/src/users/users.router.ts
  apps/server/src/users/users.service.ts
  bun.lockb
  tsconfig.json
  yarn.lock
Due: typecheck-server

chore: add deps
  apps/client/package.json
  bun.lockb
  yarn.lock
Due: none

feat: create group with bandada
  apps/client/package.json
  apps/client/src/app/create/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/CreateQuestion.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/lib/config.ts
  apps/client/src/lib/react-query.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/providers/index.tsx
  apps/server/package.json
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  package.json
  yarn.lock
Due: typecheck-client, typecheck-server

chore: update `.envrc.example`
  .envrc.example
Due: none

fix tailwind css value
  apps/client/src/app/globals.css
Due: none

feat: create question semaphore groups (#26)
  .envrc.example
  apps/client/package.json
  apps/client/src/app/create/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/CreateQuestion.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/lib/config.ts
  apps/client/src/lib/react-query.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/providers/index.tsx
  apps/server/package.json
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  package.json
  yarn.lock
Due: typecheck-client, typecheck-server

feat: auth with supabase
  .biome.jsonc
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/app/page.tsx
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.spec.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.router.ts
  apps/server/src/auth/auth.service.spec.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/auth/dto/get-user.dto.ts
  apps/server/src/auth/dto/sign-up.dto.ts
  apps/server/src/auth/dto/verify.dto.ts
  apps/server/src/lib/config.ts
  apps/server/src/supabase/supabase.provider.ts
  apps/server/src/supabase/supabase.service.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  package.json
  supabase/.gitignore
  supabase/bun.lockb
  supabase/config.toml
  supabase/migrations/20241008115516_create_users_table.sql
  supabase/package.json
  supabase/seed.sql
  supabase/templates/magiclink.html
  yarn.lock
Due: typecheck-client, typecheck-server

feat: get user from client side token cookie
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/lib/trpc.ts
  apps/server/package.json
  apps/server/src/auth/auth.router.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/index.ts
  apps/server/src/trpc/trpc.context.ts
  apps/server/src/trpc/trpc.router.ts
  apps/server/src/trpc/trpc.service.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

chore: remove account-kit, viem, wagmi deps and code
  apps/client/package.json
  apps/client/src/app/layout.tsx
  apps/client/src/components/Dashboard.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/components/QrCode.tsx
  apps/client/src/components/YesNoFeedback.tsx
  apps/client/src/components/withAuth.tsx
  apps/client/src/hooks/useScanQrCode.ts
  apps/client/src/hooks/useSemaphoreId.ts
  apps/client/src/lib/account-kit.ts
  apps/client/src/lib/config.ts
  apps/client/src/lib/constants.ts
  apps/client/src/providers/index.tsx
  apps/client/tailwind.config.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.spec.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.router.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/lib/config.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

fix(server): config cors allowed origin
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/index.ts
  apps/server/src/lib/config.ts
  apps/server/src/trpc/trpc.module.ts
Due: typecheck-server

fix(server): config cors allowed origin (#32)
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/index.ts
  apps/server/src/lib/config.ts
  apps/server/src/trpc/trpc.module.ts
Due: typecheck-server

lang(server): fix typo
  apps/server/src/auth/auth.router.ts
Due: typecheck-server

debug
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.service.ts
Due: typecheck-server

chore: stricter lint rules
  .biome.jsonc
  bun.lockb
  package.json
  yarn.lock
Due: none

chore: lint
  .biome.jsonc
  apps/client/src/app/layout.tsx
  apps/client/src/components/CreateQuestion.tsx
  apps/client/src/lib/config.ts
  apps/client/src/lib/trpc.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/index.ts
  apps/server/src/lib/config.ts
  apps/server/src/supabase/supabase.provider.ts
  config/index.ts
  config/shared.ts
  config/types.ts
Due: typecheck-client, typecheck-server

Path conditions:
  lint-sol: any of: *.sol and ^contracts/
  typecheck-client: any of: apps/client/**/*.{cjs,js,jsx,mjs,ts,tsx}
  typecheck-server: any of: apps/server/**/*.{cjs,js,jsx,mjs,ts,tsx}
