Repository sripwoud/rideau: changes, and which lefthook commands are due for each by the changed paths.
All: lint-sol, typecheck-client, typecheck-server

.lefthook.yml:

assert_lefthook_installed: true
output: [execution, failure, summary]
pre-commit:
  parallel: true
  commands:
    format:
      run: bun dprint fmt
      stage_fixed: true
    lint-jtsx:
      run: bun biome lint --config-path=.biome.jsonc --no-errors-on-unmatched
    lint-sol:
      glob: "*.sol"
      root: "contracts"
      run: bun solhint --config .solhint.json {staged_files}
    typecheck-client:
      glob: "apps/client/**/*.{cjs,js,jsx,mjs,ts,tsx}"
      run: bun tsc-files -p tsconfig.json -p apps/client/tsconfig.json {staged_files}
    typecheck-server:
      glob: "apps/server/**/*.{cjs,js,jsx,mjs,ts,tsx}"
      run: bun tsc-files -p tsconfig.json -p apps/server/tsconfig.json --noEmit {staged_files}

chore: delete `contracts/`
  contracts/.solhint.json
  contracts/README.md
  contracts/foundry.toml
  contracts/package.json
  contracts/script/Counter.s.sol
  contracts/src/BaseFeedback.sol
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/src/YesNoFeedback.sol
  contracts/test/FreeTextFeedback.t.sol
  contracts/test/MockSemaphore.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
Due: lint-sol

chore(supabase): delete templates
  supabase/templates/magiclink.html
Due: none

chore(server): remove `app.{controller,service}`
  apps/server/src/app.controller.spec.ts
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/app.service.ts
Due: typecheck-server

fix package.json and gh workflow
  .github/workflows/main.yml
  package.json
Due: none

chore: remove `contracts`
  apps/client/abis/YesNoFeedback.json
  contracts/.solhint.json
  contracts/README.md
  contracts/foundry.toml
  contracts/package.json
  contracts/script/Counter.s.sol
  contracts/src/BaseFeedback.sol
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/src/YesNoFeedback.sol
  contracts/test/FreeTextFeedback.t.sol
  contracts/test/MockSemaphore.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
  package.json
Due: lint-sol

chore: delete `app.{controller,service}`
  apps/server/src/app.controller.spec.ts
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/app.service.ts
Due: typecheck-server

fix: update main.yml
  .github/workflows/main.yml
Due: none

chore: update `supabase` local config
  supabase/config.toml
  supabase/templates/magiclink.html
Due: none

chore(server): remove cookie config and context
  apps/server/config.ts
  apps/server/src/lib/config.ts
  apps/server/src/trpc/trpc.context.ts
Due: typecheck-server

chore: cleanup (#74)
  .github/workflows/main.yml
  apps/client/abis/YesNoFeedback.json
  apps/server/config.ts
  apps/server/src/app.controller.spec.ts
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/app.service.ts
  apps/server/src/lib/config.ts
  apps/server/src/trpc/trpc.context.ts
  contracts/.solhint.json
  contracts/README.md
  contracts/foundry.toml
  contracts/package.json
  contracts/script/Counter.s.sol
  contracts/src/BaseFeedback.sol
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/src/YesNoFeedback.sol
  contracts/test/FreeTextFeedback.t.sol
  contracts/test/MockSemaphore.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
  package.json
  supabase/config.toml
  supabase/templates/magiclink.html
Due: lint-sol, typecheck-server

refactor: use systematically dtos, remove unused rpc method
  apps/server/src/auth/auth.service.ts
  apps/server/src/commitments/commitments.router.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/feedbacks/feedbacks.router.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/questions/dto/find-all-questions.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/roots.service.ts
Due: typecheck-server

refactor: use systematically dtos, remove unused rpc method (#75)
  apps/server/src/auth/auth.service.ts
  apps/server/src/commitments/commitments.router.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/feedbacks/feedbacks.router.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/questions/dto/find-all-questions.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/roots.service.ts
Due: typecheck-server

feat(ui): add logged user email in header
  apps/client/src/components/Header.tsx
Due: typecheck-client

feat(ui): add logged user email in header (#76)
  apps/client/src/components/Header.tsx
Due: typecheck-client

refactor(ui): update `YNQuestionStatus`
  apps/client/src/components/Layout.tsx
  apps/client/src/components/QuestionCard/YN/YNQuestionStatus.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
Due: typecheck-client

feat(ui): fix inner overflow-y
  apps/client/src/app/[groupId]/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/Layout.tsx
Due: typecheck-client

style(ui): center header row, decrease font size
  apps/client/src/app/globals.css
  apps/client/src/components/Header.tsx
Due: typecheck-client

style(ui): center icon with banda group link text
  apps/client/src/app/[groupId]/page.tsx
Due: typecheck-client

style(ui): center icon with banda group link text (#79)
  apps/client/src/app/[groupId]/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/Header.tsx
Due: typecheck-client

style(ui): align app icon with title
  apps/client/src/components/Header.tsx
Due: typecheck-client

ci: deploy client with fly
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  apps/client/Dockerfile
  apps/client/fly.toml
  apps/client/package.json
  package.json
Due: none

chore: update config
  .envrc.example
  .gitignore
  assets/icon.png
  config/shared.ts
Due: none

fix deploy.yml
  .github/workflows/deploy.yml
Due: none

ci: deploy client with fly (#80)
  .envrc.example
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .gitignore
  apps/client/Dockerfile
  apps/client/fly.toml
  apps/client/package.json
  apps/server/fly.toml
  assets/icon.png
  config/shared.ts
  package.json
Due: none

feat(ui): add new question to the top of the list
  apps/client/src/app/[groupId]/page.tsx
Due: typecheck-client

ci(server): fix event streaming
  apps/server/Dockerfile
Due: none

docs: add architecture diagram
  README.md
  assets/yeap-architecture.excalidraw
  assets/yeap-architecture.svg
Due: none

docs: update diagram background
  assets/yeap-architecture.svg
  assets/yeap-worfklow.excalidraw
  assets/yeap-workflow.svg
Due: none

chore: fmt
  .dprint.jsonc
  apps/client/src/hooks/useSendFeedback.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.spec.ts
  apps/server/src/auth/auth.service.spec.ts
  apps/server/src/bandada/bandada.service.spec.ts
  apps/server/src/commitments/commitments.service.spec.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/feedbacks/feedbacks.service.spec.ts
  apps/server/src/nullifiers/nullifiers.service.spec.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/roots/roots.service.spec.ts
  apps/server/src/supabase/supabase.service.ts
  apps/server/test/app.e2e-spec.ts
Due: typecheck-client, typecheck-server

fix roots expiry check
  apps/server/src/auth/auth.service.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/roots/dto/create-root.dto.ts
  apps/server/src/roots/dto/find-latest-root.dto.ts
  apps/server/src/roots/dto/find-root.dto.ts
  apps/server/src/roots/dto/index.ts
  apps/server/src/roots/dto/upsert-root.dto.ts
  apps/server/src/roots/roots.service.ts
  supabase/migrations/20241022194043_create_roots_table.sql
Due: typecheck-server

refactor: remove roots router
  apps/server/src/roots/roots.router.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
Due: typecheck-server

fix roots expiry check (#81)
  apps/server/src/auth/auth.service.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/roots/dto/create-root.dto.ts
  apps/server/src/roots/dto/find-latest-root.dto.ts
  apps/server/src/roots/dto/find-root.dto.ts
  apps/server/src/roots/dto/index.ts
  apps/server/src/roots/dto/upsert-root.dto.ts
  apps/server/src/roots/roots.router.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  supabase/migrations/20241022194043_create_roots_table.sql
Due: typecheck-server

refactor(server): extract nullifier check in nullifiers.service
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/nullifiers.router.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
Due: typecheck-server

refactor(server): extract nullifier check in nullifiers.service (#82)
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/nullifiers.router.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
Due: typecheck-server

refactor(server): rename methods to check feedback validity
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/roots.service.ts
Due: typecheck-server

refactor(server): rename methods to check feedback validity (#83)
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/roots.service.ts
Due: typecheck-server

docs: update setup step
  .envrc.example
  .setup
  README.md
  package.json
Due: none

chore: fmt
  .setup
Due: none

docs: update setup step (#85)
  .envrc.example
  .setup
  README.md
  package.json
Due: none

docs: update README
  README.md
Due: none
