Repository sripwoud/rideau: changes, and which lefthook commands are due for each by the changed paths.
All: lint-sol, typecheck-client, typecheck-server

.lefthook.yml:

assert_lefthook_installed: true
output: [execution, failure, summary]
pre-commit:
  parallel: true
  commands:
    format:
      run: bun dprint fmt
      stage_fixed: true
    lint-jtsx:
      run: bun biome lint --config-path=.biome.jsonc --no-errors-on-unmatched
    lint-sol:
      glob: "*.sol"
      root: "contracts"
      run: bun solhint --config .solhint.json {staged_files}
    typecheck-client:
      glob: "apps/client/**/*.{cjs,js,jsx,mjs,ts,tsx}"
      run: bun tsc-files -p tsconfig.json -p apps/client/tsconfig.json {staged_files}
    typecheck-server:
      glob: "apps/server/**/*.{cjs,js,jsx,mjs,ts,tsx}"
      run: bun tsc-files -p tsconfig.json -p apps/server/tsconfig.json --noEmit {staged_files}

feat: create question with modal (#54)
  .biome.jsonc
  apps/client/package.json
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/CreateQuestion.tsx
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/CreateQuestionModal.tsx
  apps/client/src/components/Modal.tsx
  apps/client/src/lib/modal.ts
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241023064101_create_questions_table.sql
  yarn.lock
Due: typecheck-client, typecheck-server

chore(ui): disable next telemetry
  apps/client/package.json
Due: none

fix(server): allow all origins
  apps/server/src/index.ts
Due: typecheck-server

feat(ui): remove group display and selection in question creation form
  .envrc.example
  apps/client/src/app/globals.css
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/Modal.tsx
  apps/server/src/lib/config.ts
  bun.lockb
  config/shared.ts
Due: typecheck-client, typecheck-server

feat: remove groups column in dashboard
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/components/Layout.tsx
Due: typecheck-client

feat(ui): no group display or input (#58)
  .envrc.example
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/Layout.tsx
  apps/client/src/components/Modal.tsx
  apps/server/src/index.ts
  apps/server/src/lib/config.ts
  bun.lockb
  config/shared.ts
Due: typecheck-client, typecheck-server

lang: update question input validation error message
  apps/server/src/questions/dto/create-question.dto.ts
Due: typecheck-server

feat(ui): improve login form
  .biome.jsonc
  apps/client/src/app/page.tsx
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/LoginForm.tsx
Due: typecheck-client

feat(ui): improve login form (#62)
  .biome.jsonc
  apps/client/src/app/page.tsx
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/LoginForm.tsx
Due: typecheck-client

feat(ui): use dynamic group routes
  apps/client/src/app/[groupId]/page.tsx
  apps/client/src/app/page.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/lib/config.ts
  apps/server/src/questions/dto/find-all-questions.dto.ts
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
Due: typecheck-client, typecheck-server

feat(ui): use dynamic group routes (#64)
  apps/client/src/app/[groupId]/page.tsx
  apps/client/src/app/page.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/lib/config.ts
  apps/server/src/questions/dto/find-all-questions.dto.ts
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
Due: typecheck-client, typecheck-server

feat(ui): protect dashboard route
  apps/client/src/app/[groupId]/page.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/components/withAuth.tsx
  apps/client/src/hooks/useAuth.ts
Due: typecheck-client

chore: lint
  .biome.jsonc
Due: none

feat(ui): protect dashboard route (#65)
  .biome.jsonc
  apps/client/src/app/[groupId]/page.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/components/withAuth.tsx
  apps/client/src/hooks/useAuth.ts
Due: typecheck-client

chore(server): fix supabase typings
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/get-members.dto.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/feedbacks/dto/index.ts
  apps/server/src/feedbacks/dto/send-feedback.dto.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/entities/index.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/questions/entities/index.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/entities/root.entity.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/supabase/supabase.provider.ts
  apps/server/src/supabase/supabase.service.ts
  apps/server/src/trpc/trpc.module.ts
Due: typecheck-server

chore(server): fix supabase typings (#66)
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/get-members.dto.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/feedbacks/dto/index.ts
  apps/server/src/feedbacks/dto/send-feedback.dto.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/entities/index.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/questions/entities/index.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/entities/root.entity.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/supabase/supabase.provider.ts
  apps/server/src/supabase/supabase.service.ts
  apps/server/src/trpc/trpc.module.ts
Due: typecheck-server

feat(server): define `bandada.getMembers`
  .biome.jsonc
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/index.ts
Due: typecheck-server

feat(server): send feedback
  apps/server/package.json
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/create-group.dto.ts
  apps/server/src/feedbacks/dto/send-feedback.dto.ts
  apps/server/src/feedbacks/feedbacks.router.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/supabase/supabase.service.ts
  bun.lockb
  yarn.lock
Due: typecheck-server

feat(server): send feedback (#67)
  .biome.jsonc
  apps/server/package.json
  apps/server/src/app.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/create-group.dto.ts
  apps/server/src/bandada/dto/index.ts
  apps/server/src/feedbacks/dto/send-feedback.dto.ts
  apps/server/src/feedbacks/feedbacks.router.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/supabase/supabase.service.ts
  bun.lockb
  yarn.lock
Due: typecheck-server

feat(server): add `@semaphore-protocol/core`
  apps/server/package.json
  apps/server/src/auth/auth.service.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  bun.lockb
  yarn.lock
Due: typecheck-server

feat(client): define `useSendFeedback`
  .biome.jsonc
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useIdentity.ts
  apps/client/src/hooks/useSendFeedback.ts
  apps/client/src/state/identity.atom.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/export-group.dto.ts
  apps/server/src/bandada/dto/index.ts
  apps/server/src/trpc/trpc.router.ts
  yarn.lock
Due: typecheck-client, typecheck-server

wip
  apps/client/src/components/QuestionCard/YN/index.tsx
  apps/client/src/hooks/useSendFeedback.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/trpc/trpc.module.ts
  bun.lockb
  package.json
  yarn.lock
Due: typecheck-client, typecheck-server

add roots service to app.module
  apps/server/src/app.module.ts
  apps/server/src/roots/dto/create-root.dto.ts
Due: typecheck-server

refactor: update roots schema
  apps/server/src/auth/auth.service.ts
  apps/server/src/auth/dto/signup.dto.ts
  apps/server/src/roots/dto/find-root.dto.ts
  apps/server/src/roots/dto/index.ts
  apps/server/src/roots/dto/upsert-root.dto.ts
  apps/server/src/roots/roots.router.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241022194043_create_roots_table.sql
Due: typecheck-server

fix: use nullifiers service in nullifiers router
  apps/server/src/nullifiers/dto/find-nullifier.dto.ts
  apps/server/src/nullifiers/nullifiers.router.ts
  apps/server/src/nullifiers/nullifiers.service.ts
Due: typecheck-server

refactor: prefer camelCase in ts code
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/questions.service.ts
Due: typecheck-server

simplify questions.find
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/questions.service.ts
Due: typecheck-server

fix destructuring
  apps/server/src/bandada/bandada.service.ts
Due: typecheck-server

fix handling sent feedback
  apps/server/src/feedbacks/dto/create-feedback.dto.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/roots/roots.service.ts
  supabase/migrations/20241023071130_create_feedbacks_table.sql
Due: typecheck-server

feat(ui): send feedback
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
  apps/client/src/hooks/useSendFeedback.ts
  apps/client/src/lib/config.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/questions/dto/find-question.dto.ts
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/questions.service.ts
Due: typecheck-client, typecheck-server

feat(ui): send feedback (#70)
  .biome.jsonc
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useIdentity.ts
  apps/client/src/hooks/useSendFeedback.ts
  apps/client/src/lib/config.ts
  apps/client/src/state/identity.atom.ts
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/auth/dto/signup.dto.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/export-group.dto.ts
  apps/server/src/bandada/dto/index.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/feedbacks/dto/create-feedback.dto.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/nullifiers/dto/find-nullifier.dto.ts
  apps/server/src/nullifiers/nullifiers.router.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/dto/find-question.dto.ts
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/roots/dto/create-root.dto.ts
  apps/server/src/roots/dto/find-root.dto.ts
  apps/server/src/roots/dto/index.ts
  apps/server/src/roots/dto/upsert-root.dto.ts
  apps/server/src/roots/roots.router.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/supabase/supabase.types.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  package.json
  supabase/migrations/20241022194043_create_roots_table.sql
  supabase/migrations/20241023071130_create_feedbacks_table.sql
  yarn.lock
Due: typecheck-client, typecheck-server

Update README
  README.md
Due: none

lang: update app name
  apps/client/src/components/Header.tsx
  config/shared.ts
Due: typecheck-client

feat: udpate footer
  apps/client/src/components/Footer.tsx
Due: typecheck-client

style(ui): update app icon
  apps/client/src/app/icon.png
  apps/client/src/components/Header.tsx
Due: typecheck-client

style(ui): update app icon (#71)
  apps/client/src/app/icon.png
  apps/client/src/components/Header.tsx
Due: typecheck-client

docs: add workflow diagram
  README.md
  assets/yeap-worfklow.excalidraw
  assets/yeap-worfklow.svg
Due: none

docs: add workflow diagram (#72)
  README.md
  assets/yeap-worfklow.excalidraw
  assets/yeap-workflow.svg
Due: none

chore(client): delete abis
  apps/client/abis/YesNoFeedback.json
Due: none
