Repository sripwoud/rideau: changes, and which lefthook commands are due for each by the changed paths.
All: lint-sol, typecheck-client, typecheck-server

lint-sol:
  run: bun solhint --config .solhint.json {staged_files}

typecheck-client:
  run: bun tsc-files -p tsconfig.json -p apps/client/tsconfig.json {staged_files}

typecheck-server:
  run: bun tsc-files -p tsconfig.json -p apps/server/tsconfig.json --noEmit {staged_files}

docs: update README
  README.md
Due: none

chore: enforce stricter lint rules (#33)
  .biome.jsonc
  README.md
  apps/client/src/app/layout.tsx
  apps/client/src/components/CreateQuestion.tsx
  apps/client/src/lib/config.ts
  apps/client/src/lib/trpc.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/index.ts
  apps/server/src/lib/config.ts
  apps/server/src/supabase/supabase.provider.ts
  bun.lockb
  config/index.ts
  config/shared.ts
  config/types.ts
  package.json
  yarn.lock
Due: typecheck-client, typecheck-server

debug
  apps/client/src/lib/trpc.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/trpc/trpc.context.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

fix: set cookie `SameSite` to `none`
  apps/server/src/auth/auth.controller.ts
Due: typecheck-server

fix: set cookie `SameSite` to `none`
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/lib/config.ts
  bun.lockb
  supabase/migrations/20241008115516_create_users_table.sql
  yarn.lock
Due: typecheck-server

chore: define semaphore table creation migration
  .dprint.jsonc
  supabase/migrations/20241018125332_create_semaphore_table.sql
  supabase/seed.sql
Due: none

feat(server): create semaphore id on signup
  .biome.jsonc
  apps/server/package.json
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/semaphores/semaphores.service.spec.ts
  apps/server/src/semaphores/semaphores.service.ts
  apps/server/src/supabase/supabase.provider.ts
  apps/server/src/supabase/supabase.types.ts
  apps/server/src/trpc/trpc.module.ts
  bun.lockb
  supabase/config.toml
  supabase/migrations/20241018125332_create_semaphore_table.sql
  supabase/package.json
  yarn.lock
Due: typecheck-server

chore: remove seed.sql
  supabase/seed.sql
Due: none

feat(server): create semaphore id on signup (#36)
  .biome.jsonc
  .dprint.jsonc
  apps/server/package.json
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/semaphores/semaphores.service.spec.ts
  apps/server/src/semaphores/semaphores.service.ts
  apps/server/src/supabase/supabase.provider.ts
  apps/server/src/supabase/supabase.types.ts
  apps/server/src/trpc/trpc.module.ts
  bun.lockb
  supabase/config.toml
  supabase/migrations/20241018125332_create_semaphore_table.sql
  supabase/package.json
  supabase/seed.sql
  yarn.lock
Due: typecheck-server

chore: update config
  apps/client/package.json
  apps/client/src/lib/config.ts
  apps/server/package.json
  apps/server/src/lib/config.ts
  bun.lockb
  config/index.ts
  config/shared.ts
  config/types.ts
  yarn.lock
Due: typecheck-client, typecheck-server

feat(server): define alchemy proxy controller
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.spec.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/app.module.ts
Due: typecheck-server

feat(client): auth with account kit modal
  apps/client/package.json
  apps/client/src/app/layout.tsx
  apps/client/src/app/page.tsx
  apps/client/src/components/Loader.tsx
  apps/client/src/lib/account-kit.tsx
  apps/client/src/lib/react-query.ts
  apps/client/src/providers/index.tsx
  apps/client/tailwind.config.ts
  bun.lockb
  yarn.lock
Due: typecheck-client

refactor(client): extract support email in config
  apps/client/src/components/Loader.tsx
  apps/client/src/lib/account-kit.tsx
  apps/client/src/lib/config.ts
Due: typecheck-client

chore(server): delete `auth.{service,controller,router}`
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.spec.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.router.ts
  apps/server/src/auth/auth.service.spec.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/auth/dto/get-user.dto.ts
  apps/server/src/auth/dto/sign-up.dto.ts
  apps/server/src/auth/dto/verify.dto.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
Due: typecheck-server

chore: remove dashboard page
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/app/page.tsx
  apps/client/tailwind.config.ts
Due: typecheck-client

chore: add comment
  apps/client/src/lib/react-query.ts
Due: typecheck-client

feat: auth with non custodial wallet (#37)
  apps/client/package.json
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/app/layout.tsx
  apps/client/src/app/page.tsx
  apps/client/src/components/Loader.tsx
  apps/client/src/lib/account-kit.tsx
  apps/client/src/lib/config.ts
  apps/client/src/lib/react-query.ts
  apps/client/src/providers/index.tsx
  apps/client/tailwind.config.ts
  apps/server/package.json
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.spec.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.spec.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.router.ts
  apps/server/src/auth/auth.service.spec.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/auth/dto/get-user.dto.ts
  apps/server/src/auth/dto/sign-up.dto.ts
  apps/server/src/auth/dto/verify.dto.ts
  apps/server/src/lib/config.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  config/index.ts
  config/shared.ts
  config/types.ts
  yarn.lock
Due: typecheck-client, typecheck-server

wip
  apps/client/package.json
  apps/client/src/app/globals.css
  apps/client/src/app/page.tsx
  apps/client/src/lib/account-kit.ts
  apps/client/src/lib/react-query.ts
  apps/client/src/providers/index.tsx
  bun.lockb
  supabase/package.json
  yarn.lock
Due: typecheck-client

refactor(client): remove `trpc`
  apps/client/package.json
  apps/client/src/app/create/page.tsx
  apps/client/src/components/CreateQuestion.tsx
  apps/client/src/lib/react-query.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/providers/AlchemyProvider.tsx
  apps/client/src/providers/index.tsx
  bun.lockb
  yarn.lock
Due: typecheck-client

refactor(client): remove `trpc` (#39)
  apps/client/package.json
  apps/client/src/app/create/page.tsx
  apps/client/src/components/CreateQuestion.tsx
  apps/client/src/lib/react-query.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/providers/AlchemyProvider.tsx
  apps/client/src/providers/index.tsx
  bun.lockb
  yarn.lock
Due: typecheck-client

fix(client): do not use accoutn-kit useAuthModal (#40)
  apps/client/src/app/page.tsx
  bun.lockb
  yarn.lock
Due: typecheck-client

fix(client): do not use accoutn-kit useAuthModal
  apps/client/src/app/page.tsx
  bun.lockb
  yarn.lock
Due: typecheck-client

chore(client): set up `jotai-trpc` (#41)
  apps/client/package.json
  apps/client/src/app/page.tsx
  apps/client/src/lib/account-kit.ts
  apps/client/src/lib/trpc.ts
  bun.lockb
  yarn.lock
Due: typecheck-client

chore(client): set up `jotai-trpc`
  apps/client/package.json
  apps/client/src/app/page.tsx
  apps/client/src/lib/account-kit.ts
  apps/client/src/lib/trpc.ts
  bun.lockb
  yarn.lock
Due: typecheck-client

Define commitments table creation migration
  supabase/migrations/20241018125332_create_semaphore_table.sql
  supabase/migrations/20241020214348_create_commitments_table.sql
Due: none

chore(server): remove `semaphores` service
  apps/server/src/semaphores/semaphores.service.spec.ts
  apps/server/src/semaphores/semaphores.service.ts
Due: typecheck-server

refactor bandada router
  apps/server/src/bandada/bandada.router.ts
Due: typecheck-server

feat(server): define `commitments` server and router
  .biome.jsonc
  apps/server/package.json
  apps/server/src/app.module.ts
  apps/server/src/commitments/commitments.router.ts
  apps/server/src/commitments/commitments.service.spec.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/commitments/dto/create-commitment.dto.ts
  apps/server/src/commitments/entities/commitment-insert.type.ts
  apps/server/src/supabase/supabase-generated.types.ts
  apps/server/src/supabase/supabase.types.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  supabase/package.json
  yarn.lock
Due: typecheck-server

chore(supabase): add mkdirp dev dep
  bun.lockb
  supabase/package.json
  yarn.lock
Due: none

fix(supabase): store commitment as string
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/supabase/supabase-generated.types.ts
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241020214348_create_commitments_table.sql
  supabase/package.json
Due: typecheck-server

fix(server): use upsert instead of insert
  apps/server/src/commitments/commitments.service.ts
  supabase/migrations/20241020214348_create_commitments_table.sql
Due: typecheck-server

feat(client): insert commitment upon login
  .biome.jsonc
  .dprint.jsonc
  apps/client/src/app/page.tsx
  apps/client/src/components/Dashboard.tsx
  apps/client/src/lib/store.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/lib/config.ts
Due: typecheck-client, typecheck-server

chore: remove `type-fest`
  apps/server/package.json
  bun.lockb
  yarn.lock
Due: none

chore: update biome config
  .biome.jsonc
Due: none

feat: insert semaphore commitment id upon signup (#42)
  .biome.jsonc
  .dprint.jsonc
  apps/client/src/app/page.tsx
  apps/client/src/components/Dashboard.tsx
  apps/client/src/lib/store.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/commitments/commitments.router.ts
  apps/server/src/commitments/commitments.service.spec.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/commitments/dto/create-commitment.dto.ts
  apps/server/src/commitments/entities/commitment-insert.type.ts
  apps/server/src/lib/config.ts
  apps/server/src/semaphores/semaphores.service.ts
  apps/server/src/supabase/supabase.types.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  supabase/migrations/20241018125332_create_semaphore_table.sql
  supabase/migrations/20241020214348_create_commitments_table.sql
  supabase/package.json
  yarn.lock
Due: typecheck-client, typecheck-server

fix(server): add `tslib` to deps
  apps/client/package.json
  apps/server/package.json
  bun.lockb
  package.json
  yarn.lock
Due: none

refactor(client): define auth reducer
  apps/client/src/app/page.tsx
  apps/client/src/hooks/useAuthState.ts
  apps/client/src/state/auth/actions.ts
  apps/client/src/state/auth/reducer.ts
  apps/client/src/state/auth/types.ts
Due: typecheck-client

refactor(client): define custom `useAuth{State,}` hooks
  .biome.jsonc
  apps/client/src/app/page.tsx
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useAuthState.ts
  apps/client/src/state/auth/actions.ts
  apps/client/src/state/auth/reducer.ts
  apps/client/src/state/auth/types.ts
Due: typecheck-client

refactor: reset auth in logout
  apps/client/src/app/page.tsx
  apps/client/src/hooks/useAuth.ts
Due: typecheck-client

refactor(client): use auth reducer (#43)
  .biome.jsonc
  apps/client/src/app/page.tsx
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useAuthState.ts
  apps/client/src/state/auth/actions.ts
  apps/client/src/state/auth/reducer.ts
  apps/client/src/state/auth/types.ts
Due: typecheck-client

Path conditions:
  lint-sol: any of: *.sol and ^contracts/
  typecheck-client: any of: apps/client/**/*.{cjs,js,jsx,mjs,ts,tsx}
  typecheck-server: any of: apps/server/**/*.{cjs,js,jsx,mjs,ts,tsx}
