Repository sripwoud/rideau: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-client, typecheck-server

.lefthook.yml:

assert_lefthook_installed: true
output: [execution, failure, summary]
pre-commit:
  parallel: true
  commands:
    format:
      run: bun dprint fmt
      stage_fixed: true
    lint:
      run: bun biome lint --config-path=.biome.jsonc --no-errors-on-unmatched
    typecheck-client:
      glob: "*.{cjs,js,jsx,mjs,ts,tsx}"
      root: "apps/client"
      run: bun tsc-files --noEmit {staged_files}
    typecheck-server:
      glob: "*.{cjs,js,jsx,mjs,ts,tsx}"
      root: "apps/server"
      run: bun tsc-files --noEmit {staged_files}

ci: bump GH actions
  .github/workflows/deploy.yml
  .github/workflows/main.yaml
Due: none

docs: update README
  README.md
Due: none

Doc: comment .envrc.example
  .envrc.example
Due: none

docs: Update README.md
  README.md
Due: none

ci: rename `main.y{a,}ml`
  .github/workflows/main.yml
Due: none

chore: remove `docker-compose.yaml`
  docker-compose.yaml
Due: none

chore: remove `barrelsby`
  .barrelsby.json
  bun.lockb
  package.json
  yarn.lock
Due: none

chore(client): ignore lint during next build
  apps/client/next.config.mjs
  apps/client/package.json
Due: typecheck-client

chore: remove `scripts/`
  scripts/secrets-entrypoint.sh
Due: none

chore(client): ignore lint during next build
  apps/client/next.config.mjs
Due: typecheck-client

feat: sign message
  apps/client/src/app/page.tsx
  apps/client/src/components/Dashboard.tsx
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
Due: typecheck-client, typecheck-server

feat(client): create semaphore id
  apps/client/package.json
  apps/client/src/components/Dashboard.tsx
  apps/client/src/hooks/useSemaphoreId.ts
  apps/client/src/lib/store.ts
  bun.lockb
  yarn.lock
Due: typecheck-client

chore: lint
  .biome.jsonc
  apps/client/src/hooks/useSemaphoreId.ts
Due: typecheck-client

chore: remove console.log
  apps/client/src/app/page.tsx
  apps/client/src/components/Dashboard.tsx
  apps/client/src/lib/store.ts
Due: typecheck-client

chore: fix tsc errors
  .lefthook.yml
  apps/client/next.config.mjs
  apps/client/src/components/Dashboard.tsx
  apps/client/tsconfig.json
  apps/server/tsconfig.build.json
  apps/server/tsconfig.json
Due: typecheck-client

fix: change chain to arbitrum sepolia
  apps/client/src/lib/account-kit.ts
Due: typecheck-client

feat: display account address in dashboard page
  apps/client/src/components/Dashboard.tsx
Due: typecheck-client

feat(client): create deterministic semaphore id (#14)
  .biome.jsonc
  .lefthook.yml
  apps/client/next.config.mjs
  apps/client/package.json
  apps/client/src/components/Dashboard.tsx
  apps/client/src/hooks/useSemaphoreId.ts
  apps/client/src/lib/account-kit.ts
  apps/client/src/lib/store.ts
  apps/client/tsconfig.json
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/tsconfig.build.json
  apps/server/tsconfig.json
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

chore: improve next font integration with tailwind
  apps/client/package.json
  apps/client/src/app/globals.css
  apps/client/src/app/layout.tsx
  apps/client/src/components/Dashboard.tsx
  apps/client/src/lib/config.ts
  apps/client/tailwind.config.ts
  bun.lockb
  yarn.lock
Due: typecheck-client

chore: improve next font integration with tailwind (#15)
  apps/client/package.json
  apps/client/src/app/globals.css
  apps/client/src/app/layout.tsx
  apps/client/src/components/Dashboard.tsx
  apps/client/src/lib/config.ts
  apps/client/tailwind.config.ts
  bun.lockb
  yarn.lock
Due: typecheck-client

chore: path `punycode`
  apps/client/package.json
  apps/server/package.json
  bun.lockb
  package.json
  patches/@types+node+20.16.10.patch
  patches/tr46+0.0.3.patch
  patches/whatwg-url+5.0.0.patch
  yarn.lock
Due: none

chore: patch `punycode` (#16)
  apps/client/package.json
  apps/server/package.json
  bun.lockb
  package.json
  patches/@types+node+20.16.10.patch
  patches/tr46+0.0.3.patch
  patches/whatwg-url+5.0.0.patch
  yarn.lock
Due: none

feat(client): restrict dashboard page to authenticated users
  .biome.jsonc
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/components/withAuth.tsx
Due: typecheck-client

feat(client): restrict dashboard page to authenticated users (#17)
  .biome.jsonc
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/components/withAuth.tsx
Due: typecheck-client

ci: fix output name
  .github/workflows/main.yml
Due: none

ci: test sol
  .github/workflows/main.yml
  .gitignore
Due: none

ci: install forge
  .github/workflows/main.yml
Due: none

chore: fmt sol files
  .dprint.jsonc
  contracts/test/Counter.t.sol
Due: none

ci: include solhint check in ci
  .github/workflows/main.yml
Due: none

chore: exclude contracts `out` folder from biome lint check
  .biome.jsonc
Due: none

chore: forge init
  bun.lockb
  contracts/.github/workflows/test.yml
  contracts/.gitignore
  contracts/README.md
  contracts/foundry.toml
  contracts/package.json
  contracts/script/Counter.s.sol
  contracts/src/Counter.sol
  contracts/test/Counter.t.sol
  package.json
  yarn.lock
Due: none

forge install: forge-std
  .gitmodules
Due: none

chore: scaffold contracts (forge, solhint)
  .gitignore
  .lefthook.yml
  contracts/.github/workflows/test.yml
  contracts/.gitignore
  contracts/.solhint.json
  contracts/test/Counter.t.sol
Due: none

chore: scaffold contracts dev env (#18)
  .biome.jsonc
  .dprint.jsonc
  .github/workflows/main.yml
  .gitignore
  .gitmodules
  .lefthook.yml
  bun.lockb
  contracts/.solhint.json
  contracts/README.md
  contracts/foundry.toml
  contracts/package.json
  contracts/script/Counter.s.sol
  contracts/src/Counter.sol
  contracts/test/Counter.t.sol
  package.json
  yarn.lock
Due: none

feat: define feedback contracts
  bun.lockb
  contracts/foundry.toml
  contracts/package.json
  contracts/src/Feedback.sol
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/src/YesNoFeedback.sol
  yarn.lock
Due: none

test: define Semaphore mock contract
  contracts/src/Feedback.sol
  contracts/src/FreeTextFeedback.sol
  contracts/src/MultipleChoiceFeedback.sol
Due: none

test: YesNoFeedback
  contracts/.solhint.json
  contracts/src/BaseFeedback.sol
  contracts/test/MockSemaphore.sol
  contracts/test/YesNoFeedback.t.sol
Due: none

test: MultipleChoiceFeedback
  contracts/foundry.toml
  contracts/src/Counter.sol
  contracts/src/MultipleChoiceFeedback.sol
  contracts/test/Counter.t.sol
  contracts/test/MultipleChoiceFeedback.t.sol
  contracts/test/YesNoFeedback.t.sol
Due: none

ci: install node deps in test-sol job
  .github/workflows/main.yml
Due: none
