Repository sripwoud/rideau: changes, and which lefthook commands are due for each by the changed paths.
All: lint-sol, typecheck-client, typecheck-server

.lefthook.yml:

assert_lefthook_installed: true
output: [execution, failure, summary]
pre-commit:
  parallel: true
  commands:
    format:
      run: bun dprint fmt
      stage_fixed: true
    lint-jtsx:
      run: bun biome lint --config-path=.biome.jsonc --no-errors-on-unmatched
    lint-sol:
      glob: "*.sol"
      root: "contracts"
      run: bun solhint --config .solhint.json {staged_files}
    typecheck-client:
      glob: "apps/client/**/*.{cjs,js,jsx,mjs,ts,tsx}"
      run: bun tsc-files -p tsconfig.json -p apps/client/tsconfig.json {staged_files}
    typecheck-server:
      glob: "apps/server/**/*.{cjs,js,jsx,mjs,ts,tsx}"
      run: bun tsc-files -p tsconfig.json -p apps/server/tsconfig.json --noEmit {staged_files}

refactor
  apps/server/src/auth/auth.service.ts
Due: typecheck-server

refactor: remove unused groups routes
  apps/server/src/groups/groups.router.ts
Due: typecheck-server

refactor: rename `bandada` to `groups` service
  apps/client/package.json
  apps/client/src/components/GroupCard.tsx
  apps/client/src/hooks/useFindAllGroups.ts
  apps/client/src/hooks/useSendFeedback.ts
  apps/client/src/lib/trpc.ts
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/add-member.dto.ts
  apps/server/src/bandada/dto/get-group.dto.ts
  apps/server/src/bandada/dto/get-groups-by-member-id.dto.ts
  apps/server/src/bandada/dto/get-members.dto.ts
  apps/server/src/bandada/dto/index.ts
  apps/server/src/bandada/dto/remove-group.dto.ts
  apps/server/src/groups/dto/create-group.dto.ts
  apps/server/src/groups/dto/export-group.dto.ts
  apps/server/src/groups/dto/find-all-groups.dto.ts
  apps/server/src/groups/dto/find-group.dto.ts
  apps/server/src/groups/dto/group-members.dto.ts
  apps/server/src/groups/dto/index.ts
  apps/server/src/groups/dto/maybe-join-group.dto.ts
  apps/server/src/groups/groups.router.ts
  apps/server/src/groups/groups.service.spec.ts
  apps/server/src/groups/groups.service.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

chore: update pse bandada group id
  apps/client/fly.toml
Due: none

docs: add info about questions publications setup
  .setup
Due: none

refactor: rename `bandada` to `groups` service (#84)
  apps/client/fly.toml
  apps/client/package.json
  apps/client/src/components/GroupCard.tsx
  apps/client/src/hooks/useFindAllGroups.ts
  apps/client/src/hooks/useSendFeedback.ts
  apps/client/src/lib/trpc.ts
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/bandada/dto/add-member.dto.ts
  apps/server/src/bandada/dto/get-group.dto.ts
  apps/server/src/bandada/dto/get-groups-by-member-id.dto.ts
  apps/server/src/bandada/dto/get-members.dto.ts
  apps/server/src/bandada/dto/index.ts
  apps/server/src/bandada/dto/remove-group.dto.ts
  apps/server/src/groups/dto/create-group.dto.ts
  apps/server/src/groups/dto/export-group.dto.ts
  apps/server/src/groups/dto/find-all-groups.dto.ts
  apps/server/src/groups/dto/find-group.dto.ts
  apps/server/src/groups/dto/group-members.dto.ts
  apps/server/src/groups/dto/index.ts
  apps/server/src/groups/dto/maybe-join-group.dto.ts
  apps/server/src/groups/groups.router.ts
  apps/server/src/groups/groups.service.spec.ts
  apps/server/src/groups/groups.service.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

docs: update `.envrc.example`
  .envrc.example
Due: none

feat: add `author` column to `questions`
  apps/client/src/components/CreateQuestionForm.tsx
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241023064101_create_questions_table.sql
Due: typecheck-client, typecheck-server

feat: define question page
  .biome.jsonc
  apps/client/src/app/[groupId]/[questionId]/page.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/dto/toggle-question.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
Due: typecheck-client, typecheck-server

feat(client): set question to inactive
  apps/client/src/app/[groupId]/[questionId]/page.tsx
  apps/client/src/components/QuestionCard/YN/YNQuestionStatus.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
Due: typecheck-client

feat: set question to (in)active (#86)
  .biome.jsonc
  apps/client/src/app/[groupId]/[questionId]/page.tsx
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/QuestionCard/YN/YNQuestionStatus.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/dto/toggle-question.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241023064101_create_questions_table.sql
Due: typecheck-client, typecheck-server

ci(server): set NEXT_PUBLIC_PSE_BANDADA_GROUP_ID env var
  apps/server/fly.toml
Due: none

docs: update architecture diagram
  assets/yeap-architecture.excalidraw
  assets/yeap-architecture.svg
  assets/yeap-worfklow.excalidraw
  assets/yeap-workflow.svg
Due: none

fix count_boolean_feedbacks pgsql funcion
  supabase/migrations/20241023071130_create_feedbacks_table.sql
Due: none

feat(db): update tables schema
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241023064101_create_questions_table.sql
  supabase/migrations/20241023071130_create_feedbacks_table.sql
Due: typecheck-server

refactor(client): send boolean feedback while supporting text feedback schema
  apps/client/src/app/[groupId]/[questionId]/page.tsx
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
  apps/client/src/hooks/useQuestionStats.ts
  apps/client/src/hooks/useSendFeedback.ts
  apps/server/src/feedbacks/dto/create-feedback.dto.ts
  apps/server/src/feedbacks/dto/send-feedback.dto.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/dto/question-stats.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.service.ts
Due: typecheck-client, typecheck-server

refactor: use feedback string column (#87)
  apps/client/src/app/[groupId]/[questionId]/page.tsx
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
  apps/client/src/hooks/useQuestionStats.ts
  apps/client/src/hooks/useSendFeedback.ts
  apps/server/src/feedbacks/dto/create-feedback.dto.ts
  apps/server/src/feedbacks/dto/send-feedback.dto.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/dto/question-stats.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.service.ts
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241023064101_create_questions_table.sql
  supabase/migrations/20241023071130_create_feedbacks_table.sql
Due: typecheck-client, typecheck-server

feat(server): subscribe to feedback insert events
  apps/server/src/feedbacks/feedbacks.router.ts
  apps/server/src/feedbacks/feedbacks.service.ts
Due: typecheck-server

feat: define stats atom family, subsribe to stats
  .biome.jsonc
  apps/client/src/app/[groupId]/[questionId]/layout.tsx
  apps/client/src/app/[groupId]/[questionId]/page.tsx
  apps/client/src/hooks/useQuestionStats.ts
  apps/client/src/hooks/useSubscribeStats.ts
  apps/client/src/state/questions/actions.ts
  apps/client/src/state/questions/atom.ts
  apps/client/src/state/questions/reducer.ts
  apps/client/src/state/questions/types.ts
  apps/client/src/state/stats/actions.ts
  apps/client/src/state/stats/atom.ts
  apps/client/src/state/stats/reducer.ts
  apps/client/src/state/stats/types.ts
  apps/server/src/feedbacks/dto/subscribe-to-feedbacks.dto.ts
  apps/server/src/feedbacks/feedbacks.router.ts
  apps/server/src/questions/questions.service.ts
Due: typecheck-client, typecheck-server

fix(client): send 'yes' or 'no' as feedback value for boolean question
  apps/client/src/components/QuestionCard/YN/index.tsx
Due: typecheck-client

feat: use questions atom family
  .biome.jsonc
  apps/client/package.json
  apps/client/src/app/[groupId]/[questionId]/page.tsx
  apps/client/src/app/[groupId]/layout.tsx
  apps/client/src/app/[groupId]/page.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
  apps/client/src/hooks/useQuestionStats.ts
  apps/client/src/hooks/useSubscribeQuestions.ts
  apps/client/src/state/auth/atom.ts
  apps/client/src/state/questions/actions.ts
  apps/client/src/state/questions/atom.ts
  apps/client/src/state/questions/reducer.ts
  apps/client/src/state/questions/types.ts
  apps/server/src/questions/dto/index.ts
  apps/server/src/questions/dto/subscribe-to-questions.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

ichore: comment
  supabase/migrations/20241023064101_create_questions_table.sql
  supabase/migrations/20241023071130_create_feedbacks_table.sql
Due: none

fix: use local font instead of dl from google/font
  apps/client/public/Fira_Mono/FiraMono-Bold.ttf
  apps/client/public/Fira_Mono/FiraMono-Medium.ttf
  apps/client/public/Fira_Mono/FiraMono-Regular.ttf
  apps/client/public/Fira_Mono/OFL.txt
  apps/client/public/Teko/OFL.txt
  apps/client/public/Teko/README.txt
  apps/client/public/Teko/Teko-VariableFont_wght.ttf
  apps/client/public/Teko/static/Teko-Bold.ttf
  apps/client/public/Teko/static/Teko-Light.ttf
  apps/client/public/Teko/static/Teko-Medium.ttf
  apps/client/public/Teko/static/Teko-Regular.ttf
  apps/client/public/Teko/static/Teko-SemiBold.ttf
  apps/client/src/app/layout.tsx
Due: typecheck-client

fix: use local font instead of dl from google/font (#90)
  apps/client/public/Fira_Mono/FiraMono-Bold.ttf
  apps/client/public/Fira_Mono/FiraMono-Medium.ttf
  apps/client/public/Fira_Mono/FiraMono-Regular.ttf
  apps/client/public/Fira_Mono/OFL.txt
  apps/client/public/Teko/OFL.txt
  apps/client/public/Teko/README.txt
  apps/client/public/Teko/Teko-VariableFont_wght.ttf
  apps/client/public/Teko/static/Teko-Bold.ttf
  apps/client/public/Teko/static/Teko-Light.ttf
  apps/client/public/Teko/static/Teko-Medium.ttf
  apps/client/public/Teko/static/Teko-Regular.ttf
  apps/client/public/Teko/static/Teko-SemiBold.ttf
  apps/client/src/app/layout.tsx
Due: typecheck-client
