Repository sripwoud/rideau: changes, and which lefthook commands are due for each by the changed paths.
All: lint-sol, typecheck-client, typecheck-server

lint-sol:
  run: bun solhint --config .solhint.json {staged_files}

typecheck-client:
  run: bun tsc-files -p tsconfig.json -p apps/client/tsconfig.json {staged_files}

typecheck-server:
  run: bun tsc-files -p tsconfig.json -p apps/server/tsconfig.json --noEmit {staged_files}

feat(server): inject `commitment` in whoami response
  .biome.jsonc
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/commitments/entities/commitment-insert.type.ts
  apps/server/src/commitments/entities/index.ts
Due: typecheck-server

feat(server): inject `commitment` in whoami response (#44)
  .biome.jsonc
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/app.module.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/commitments/entities/commitment-insert.type.ts
  apps/server/src/commitments/entities/index.ts
Due: typecheck-server

chore: remove unused supabase `createClient` options
  apps/server/src/supabase/supabase.provider.ts
Due: typecheck-server

feat(server): add new user to pse semaphore group on login
  .envrc.example
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/lib/config.ts
Due: typecheck-server

feat: add only user of pse.dev address to corresponding group
  apps/server/src/commitments/commitments.service.ts
Due: typecheck-server

feat(server): add new user to pse semaphore group on login (#45)
  .envrc.example
  apps/server/src/app.module.ts
  apps/server/src/bandada/bandada.service.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/lib/config.ts
Due: typecheck-server

refactor(server): define `auth` service and router
  .biome.jsonc
  apps/client/src/hooks/useAuth.ts
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.router.ts
  apps/server/src/auth/auth.service.spec.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/auth/dto/signup.dto.ts
  apps/server/src/commitments/commitments.router.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/commitments/dto/create-commitment.dto.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
Due: typecheck-client, typecheck-server

feat(client): render mock lists of groups & questions
  apps/client/package.json
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/GroupCard.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/components/Layout.tsx
  apps/client/src/components/YesNoQuestionCard.tsx
  bun.lockb
  yarn.lock
Due: typecheck-client

feat(client): display joined group in dashboard page
  apps/client/package.json
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/components/GroupCard.tsx
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useGetGroups.ts
  apps/client/src/hooks/useUser.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/providers/AlchemyProvider.tsx
  bun.lockb
  yarn.lock
Due: typecheck-client

comment
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/hooks/useGetGroups.ts
Due: typecheck-client

feat(client): show list of joined groups (#46)
  apps/client/package.json
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/GroupCard.tsx
  apps/client/src/components/Header.tsx
  apps/client/src/components/Layout.tsx
  apps/client/src/components/YesNoQuestionCard.tsx
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useGetGroups.ts
  apps/client/src/hooks/useUser.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/providers/AlchemyProvider.tsx
  bun.lockb
  yarn.lock
Due: typecheck-client

chore(server): add logs
  apps/server/src/bandada/bandada.service.ts
Due: typecheck-server

fix(server): maybe add member on signup
  apps/server/src/auth/auth.service.ts
  apps/server/src/bandada/bandada.router.ts
  apps/server/src/bandada/bandada.service.ts
Due: typecheck-server

feat(db): define `{nullifiers,roots}` migrations
  supabase/migrations/20241020214348_create_commitments_table.sql
  supabase/migrations/20241022193953_create_nullifiers_table.sql
  supabase/migrations/20241022194043_create_roots_table.sql
Due: none

feat(db): define `questions` & `feedbacks` migrations
  .biome.jsonc
  .dprint.jsonc
  bun.lockb
  supabase/migrations/20241023064101_create_questions_table.sql
  supabase/migrations/20241023071130_create_feedbacks_table.sql
  supabase/package.json
  yarn.lock
Due: none

feat(db): create new migrations (#47)
  .biome.jsonc
  .dprint.jsonc
  bun.lockb
  supabase/migrations/20241020214348_create_commitments_table.sql
  supabase/migrations/20241022193953_create_nullifiers_table.sql
  supabase/migrations/20241022194043_create_roots_table.sql
  supabase/migrations/20241023064101_create_questions_table.sql
  supabase/migrations/20241023071130_create_feedbacks_table.sql
  supabase/package.json
  yarn.lock
Due: none

feat(server): define `roots.router`
  apps/server/src/app.module.ts
  apps/server/src/roots/dto/create-root.dto.ts
  apps/server/src/roots/dto/find-one-root.dto.ts
  apps/server/src/roots/dto/index.ts
  apps/server/src/roots/entities/root.entity.ts
  apps/server/src/roots/roots.router.ts
  apps/server/src/roots/roots.service.spec.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/supabase/supabase.types.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  supabase/migrations/20241022193953_create_nullifiers_table.sql
  supabase/migrations/20241022194043_create_roots_table.sql
  supabase/migrations/20241023064101_create_questions_table.sql
  supabase/migrations/20241023071130_create_feedbacks_table.sql
Due: typecheck-server

feat(server): define `nullifiers.router`
  apps/server/src/nullifiers/dto/create-nullifier.dto.ts
  apps/server/src/nullifiers/dto/find-one-nullifier.dto.ts
  apps/server/src/nullifiers/dto/index.ts
  apps/server/src/nullifiers/entities/index.ts
  apps/server/src/nullifiers/nullifiers.router.ts
  apps/server/src/nullifiers/nullifiers.service.spec.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
Due: typecheck-server

fix: remove feedbacks from trpc module
  apps/server/src/trpc/trpc.module.ts
Due: typecheck-server

feat(server): define `{nullifier,root}s` routers (#48)
  apps/server/src/app.module.ts
  apps/server/src/nullifiers/dto/create-nullifier.dto.ts
  apps/server/src/nullifiers/dto/find-one-nullifier.dto.ts
  apps/server/src/nullifiers/dto/index.ts
  apps/server/src/nullifiers/entities/index.ts
  apps/server/src/nullifiers/nullifiers.router.ts
  apps/server/src/nullifiers/nullifiers.service.spec.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/roots/dto/create-root.dto.ts
  apps/server/src/roots/dto/find-one-root.dto.ts
  apps/server/src/roots/dto/index.ts
  apps/server/src/roots/entities/root.entity.ts
  apps/server/src/roots/roots.router.ts
  apps/server/src/roots/roots.service.spec.ts
  apps/server/src/roots/roots.service.ts
  apps/server/src/supabase/supabase.types.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  supabase/migrations/20241022193953_create_nullifiers_table.sql
  supabase/migrations/20241022194043_create_roots_table.sql
  supabase/migrations/20241023064101_create_questions_table.sql
  supabase/migrations/20241023071130_create_feedbacks_table.sql
Due: typecheck-server

fix(db): update feedbacks question id column name
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241023071130_create_feedbacks_table.sql
  supabase/package.json
Due: typecheck-server

refactor(server): `find` instead of `findOne`
  apps/server/src/nullifiers/dto/find-nullifier.dto.ts
  apps/server/src/nullifiers/dto/index.ts
  apps/server/src/nullifiers/nullifiers.router.ts
  apps/server/src/nullifiers/nullifiers.service.ts
  apps/server/src/roots/dto/find-root.dto.ts
  apps/server/src/roots/dto/index.ts
  apps/server/src/roots/roots.router.ts
  apps/server/src/roots/roots.service.ts
Due: typecheck-server

remove whoami interceptor endpoint in alchemy proxy
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
Due: typecheck-server

feat: define `commitments.router`
  .biome.jsonc
  apps/server/src/commitments/commitments.router.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/commitments/dto/find-commitment.dto.ts
  apps/server/src/commitments/dto/index.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
Due: typecheck-server

fix(client): set user's `commitment` in state
  apps/client/package.json
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useGetGroups.ts
  apps/client/src/hooks/useUser.ts
  apps/client/src/state/auth/atoms.ts
  bun.lockb
  yarn.lock
Due: typecheck-client

fix(client): set user's `commitment` in state (#49)
  .biome.jsonc
  apps/client/package.json
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useGetGroups.ts
  apps/client/src/hooks/useUser.ts
  apps/client/src/state/auth/atoms.ts
  apps/server/src/alchemy-proxy/alchemy-proxy.controller.ts
  apps/server/src/commitments/commitments.router.ts
  apps/server/src/commitments/commitments.service.ts
  apps/server/src/commitments/dto/find-commitment.dto.ts
  apps/server/src/commitments/dto/index.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

refactor(client): use `@trpc/react-query`
  apps/client/package.json
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useGetGroups.ts
  apps/client/src/hooks/useUser.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/providers/TrpcProvider.tsx
  apps/client/src/providers/index.tsx
  apps/server/package.json
  bun.lockb
  yarn.lock
Due: typecheck-client

refactor(client): use `@trpc/react-query` (#50)
  apps/client/package.json
  apps/client/src/hooks/useAuth.ts
  apps/client/src/hooks/useGetGroups.ts
  apps/client/src/hooks/useUser.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/providers/TrpcProvider.tsx
  apps/client/src/providers/index.tsx
  apps/server/package.json
  bun.lockb
  yarn.lock
Due: typecheck-client

feat: implement questions subscriptions wip
  apps/client/src/app/dashboard/page.tsx
  apps/server/src/ee/event-emitter.provider.ts
  apps/server/src/feedbacks/dto/create-feedback.dto.ts
  apps/server/src/feedbacks/entities/index.ts
  apps/server/src/feedbacks/feedbacks.router.ts
  apps/server/src/feedbacks/feedbacks.service.spec.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/entities/index.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

fix(client): check null in enabled hook opt
  apps/client/src/hooks/useGetGroups.ts
Due: typecheck-client

feat: setup server side events for questions changes
  .biome.jsonc
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/hooks/useGetGroups.ts
  apps/client/src/lib/trpc.ts
  apps/server/src/ee/event-emitter.provider.ts
  apps/server/src/questions/entities/index.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.service.ts
  apps/server/src/trpc/trpc.context.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  apps/server/src/trpc/trpc.service.ts
Due: typecheck-client, typecheck-server

fix: include payload in event emitted
  apps/server/src/supabase/supabase.service.ts
Due: typecheck-server

fix questions event name in subscription
  apps/server/src/questions/questions.router.ts
Due: typecheck-server

feat: subscribe to questions server side events (#52)
  .biome.jsonc
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/hooks/useGetGroups.ts
  apps/client/src/lib/trpc.ts
  apps/server/src/feedbacks/dto/create-feedback.dto.ts
  apps/server/src/feedbacks/entities/index.ts
  apps/server/src/feedbacks/feedbacks.router.ts
  apps/server/src/feedbacks/feedbacks.service.spec.ts
  apps/server/src/feedbacks/feedbacks.service.ts
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/entities/index.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.service.ts
  apps/server/src/trpc/trpc.context.ts
  apps/server/src/trpc/trpc.module.ts
  apps/server/src/trpc/trpc.router.ts
  apps/server/src/trpc/trpc.service.ts
  bun.lockb
  yarn.lock
Due: typecheck-client, typecheck-server

style: adjust cards padding and icons
  apps/client/src/components/GroupCard.tsx
  apps/client/src/components/YesNoQuestionCard.tsx
Due: typecheck-client

feat(server): emit INSERT and CREATE event types
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.service.ts
Due: typecheck-server

feat(ui): render subscriptions updates
  apps/client/src/app/dashboard/page.tsx
Due: typecheck-client

feat(ui): render questions subscription changes (#53)
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/components/GroupCard.tsx
  apps/client/src/components/YesNoQuestionCard.tsx
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.service.ts
Due: typecheck-client, typecheck-server

feat(client): do not render equal icon if no votes
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/components/QuestionCard/YN/YNQuestionStatus.tsx
  apps/client/src/components/QuestionCard/YN/index.tsx
Due: typecheck-client

feat: create question with modal
  .biome.jsonc
  apps/client/package.json
  apps/client/src/app/dashboard/page.tsx
  apps/client/src/app/globals.css
  apps/client/src/components/CreateQuestion.tsx
  apps/client/src/components/CreateQuestionForm.tsx
  apps/client/src/components/CreateQuestionModal.tsx
  apps/client/src/components/Modal.tsx
  apps/client/src/lib/modal.ts
  apps/server/src/questions/dto/create-question.dto.ts
  apps/server/src/questions/questions.router.ts
  apps/server/src/questions/questions.service.ts
  apps/server/src/supabase/supabase.types.ts
  supabase/migrations/20241023064101_create_questions_table.sql
  yarn.lock
Due: typecheck-client, typecheck-server

Path conditions:
  lint-sol: any of: *.sol and ^contracts/
  typecheck-client: any of: apps/client/**/*.{cjs,js,jsx,mjs,ts,tsx}
  typecheck-server: any of: apps/server/**/*.{cjs,js,jsx,mjs,ts,tsx}
